body{
    height: 95vh;
    overflow-y: hidden;
    background-repeat: round;
    background-size: 100px;
    background-origin:content-box, padding-box;

}

@font-face {
    font-family: 'Adelle_Cyrillic_Heavy';
    font-style: normal;
    font-weight: normal;
    src: local('Adelle Cyrillic Heavy'), url('AdelleCyrillic-Heavy.woff') format('woff');
    }

header{
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    text-align: center;
    font-size: 1vw;
    padding: 2.5vh 0;
    margin: 0;
    background-color:black;
    color: white;
    font-family: 'Adelle_Cyrillic_Heavy';

}


.black{
    display: flex;
    background-image: linear-gradient(to right, rgb(0,0,0,0),rgb(0,0,0,1) );
    width: 99.4vw;
    height: 99vh;
    margin: 0;
    padding: 15vh 0 0 0;
}

.carousel{
    top:2.5vh;
    padding-top: 2.5vh;
    
}

.carousel__track-container{
    width: 60vw;
    height: 80%;
    display: flex;
    overflow-y: hidden;
}

.carousel button{

    position: absolute;
    top:50%;
    transform:translateX(-50%) ;
    height:  7vw;
    font-size: 5vh;
    width: 2vw;
    background-color: transparent;
    border: none;
    color: invert(60%);
    box-shadow: 2vw;
    cursor: pointer;
}

.carousel button :hover{
    cursor: pointer;
}

.carousel_button--left{
    left: 2.2%;
}

.carousel_button--right{
    right: 37%;
}

.carousel_button--left, .carousel_button--right img{
    object-fit: cover;
}

.slider{
    position: relative;
    display: flex;
    height: 100%;
    transition: transform 250ms ease-in;
    margin-left: 17vw;
    align-items: center;
    list-style: none;
}

.carousel__track-container::-webkit-scrollbar{
    display: none;
}

.slider img{
    height: 70vh;
    transform-origin: center;
    transform: perspective(60vw) rotateY(60deg);
}



.description{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    row-gap: 0.3rem;
    width: 25vw;
    color: white;
    max-height: max-content;
    padding: 5vh 2vw 10vh 2.5vw ;
    font-family: 'Noto Sans JP', sans-serif;
    overflow-y: hidden;

}
/* 
.description h2{
    margin: 10px 0;
    font-size: 2vw;
} */

@font-face {
    font-family: 'Adelle_Cyrillic_Light';
    font-style: normal;
    font-weight: normal;
    src: local('Adelle Cyrillic Light'), url('font/AdelleCyrillic-Light.woff') format('woff');
    }

.description h1,span{
    margin: 0;
    width: 100%;
    font-family: 'Adelle_Cyrillic_Light';
}

.description h1{
    font-size: 1.25vw;
}

.description span{
    font-size: 1.76vw;
}


.description p{
    padding-top: 0;
    margin-top: 0;
    font-size: 1.5vw;
}

.char_bg{
    display: inline-block;
    height: 20vh;
    padding-top: 2vh;
    margin: 0;
    overflow-y: auto;
    padding-right: 1vw;

}

.char_bg::-webkit-scrollbar{
    background-color: transparent;
    width: 0.5vh;
}

.char_bg::-webkit-scrollbar-thumb{
    background-color: antiquewhite;
    border-radius: 1vh;
}

.carouselSlide.current-slide img{
    transform:perspective(none);
    transform: rotateY(none);
    transition: 250ms;

}


